@{
    Layout = "~/Views/Shared/_MasterPage.cshtml";
}

<div class="x_title">
    <h2>Acompanhamento <small>Atendimento</small></h2>

    <hr/>
    <div class="clearfix">

    </div>
</div>
<div class="row">

    <div class="col-md-12 col-sm-12 col-xs-12">
        <div class="x_panel">
            <div class="x_content">
                <table class="table">
                    <thead>
                        <tr>
                            <th>Nº Atend.</th>
                            <th>Data</th>
                            <th>Tipo Duvida</th>
                            <th>Status</th>
                            <th>Vizualizar</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <td>1</td>
                            <td>08/08/2016</td>
                            <td>Penal</td>
                            <td>Postada</td>
                            <td class="last">
                                <a href="#">Ver</a>
                            </td>
                        </tr>
                        <tr>
                            <td>2</th>
                            <td>28/08/2016</td>
                            <td>Trabalhista</td>
                            <td>Em Análise</td>
                            <td class="last">
                                <a href="#">Ver</a>
                            </td>
                        </tr>
                        <tr>
                            <td>3</th>
                            <td>08/09/2016</td>
                            <td>Civil</td>
                            <td>Respondida</td>
                            <td class="last">
                                <a href="#">Ver</a>
                            </td>
                        </tr>
                    </tbody>
                </table>

            </div>
        </div>
    </div>

    <div class="form-group">
        <div class="col-md-12 col-sm-6 col-xs-12 col-md-offset-5">
            <input type="submit" class="btn btn-success" name="Novo Atendimento" id="NovoAtendimento" value="Novo Atendimento" onclick="location. href= 'testes' " />
        </div>
    </div>
</div>