@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}


<h2>Index</h2>



<div class="x_title">
    <h2>Acompanhamento <small>Atendimento</small></h2>

    <hr/>
    <div class="clearfix">

    </div>
</div>
<div class="row">

    <div class="col-md-12 col-sm-12 col-xs-12">
        <div class="x_panel">
            <div class="x_content">
                <table class="table">
                    <thead>
                        <tr>
                            <th>#</th>
                            <th>Data</th>
                            <th>Tipo Duvida</th>
                            <th>Status</th>
                            <th>Vizualizar</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <th scope="row">1</th>
                            <td>08/08/2016</td>
                            <td>Penal</td>
                            <td>Postada</td>
                            <td class="last">
                                <a href="#">Ver</a>
                            </td>
                        </tr>
                        <tr>
                            <th scope="row">2</th>
                            <td>28/08/2016</td>
                            <td>Trabalhista</td>
                            <td>Em Análise</td>
                            <td class="last">
                                <a href="#">Ver</a>
                            </td>>
                        </tr>
                        <tr>
                            <th scope="row">3</th>
                            <td>08/09/2016</td>
                            <td>Civil</td>
                            <td>Respondida</td>
                            <td class="last">
                                <a href="#">Ver</a>
                            </td>
                        </tr>
                    </tbody>
                </table>

            </div>
        </div>
    </div>
</div>