
CREATE DATABASE [NewtonCJU]



ALTER DATABASE [NewtonCJU] SET COMPATIBILITY_LEVEL = 110
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [NewtonCJU].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO

USE [NewtonCJU]
GO
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO

CREATE TABLE [dbo].[__MigrationHistory](
	[MigrationId] [nvarchar](150) NOT NULL,
	[ContextKey] [nvarchar](300) NOT NULL,
	[Model] [varbinary](max) NOT NULL,
	[ProductVersion] [nvarchar](32) NOT NULL,
 CONSTRAINT [PK_dbo.__MigrationHistory] PRIMARY KEY CLUSTERED 
(
	[MigrationId] ASC,
	[ContextKey] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO

SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[AreaConhecimentoes](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[Nome] [nvarchar](max) NOT NULL,
	[Ativo] [bit] NOT NULL,
 CONSTRAINT [PK_dbo.AreaConhecimentoes] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]

GO


SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[AspNetRoles](
	[Id] [nvarchar](128) NOT NULL,
	[Name] [nvarchar](256) NOT NULL,
 CONSTRAINT [PK_dbo.AspNetRoles] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO


SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[AspNetUserClaims](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[UserId] [nvarchar](128) NOT NULL,
	[ClaimType] [nvarchar](max) NULL,
	[ClaimValue] [nvarchar](max) NULL,
 CONSTRAINT [PK_dbo.AspNetUserClaims] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]

GO


SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[AspNetUserLogins](
	[LoginProvider] [nvarchar](128) NOT NULL,
	[ProviderKey] [nvarchar](128) NOT NULL,
	[UserId] [nvarchar](128) NOT NULL,
 CONSTRAINT [PK_dbo.AspNetUserLogins] PRIMARY KEY CLUSTERED 
(
	[LoginProvider] ASC,
	[ProviderKey] ASC,
	[UserId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO


SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[AspNetUserRoles](
	[UserId] [nvarchar](128) NOT NULL,
	[RoleId] [nvarchar](128) NOT NULL,
 CONSTRAINT [PK_dbo.AspNetUserRoles] PRIMARY KEY CLUSTERED 
(
	[UserId] ASC,
	[RoleId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO


SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[AspNetUsers](
	[Id] [nvarchar](128) NOT NULL,
	[Nome] [nvarchar](100) NULL,
	[Email] [nvarchar](256) NULL,
	[EmailConfirmed] [bit] NOT NULL,
	[PasswordHash] [nvarchar](max) NULL,
	[SecurityStamp] [nvarchar](max) NULL,
	[PhoneNumber] [nvarchar](max) NULL,
	[PhoneNumberConfirmed] [bit] NOT NULL,
	[TwoFactorEnabled] [bit] NOT NULL,
	[LockoutEndDateUtc] [datetime] NULL,
	[LockoutEnabled] [bit] NOT NULL,
	[AccessFailedCount] [int] NOT NULL,
	[UserName] [nvarchar](256) NOT NULL,
 CONSTRAINT [PK_dbo.AspNetUsers] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]

GO


SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[AtividadeSemestrals](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[UsuarioId] [uniqueidentifier] NOT NULL,
	[AreaConhecimentoId] [int] NOT NULL,
	[Ano] [int] NOT NULL,
	[Semestre] [int] NOT NULL,
	[Ativo] [bit] NOT NULL,
	[Usuario_Id] [nvarchar](128) NULL,
 CONSTRAINT [PK_dbo.AtividadeSemestrals] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO



SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[FatoCotidianoes](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[AreaConhecimentoId] [int] NOT NULL,
	[Nome] [nvarchar](max) NOT NULL,
 CONSTRAINT [PK_dbo.FatoCotidianoes] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]

GO


SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Historicoes](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[Situacao] [int] NOT NULL,
	[Data] [datetime] NOT NULL,
	[SolicitacaoId] [int] NOT NULL,
	[Situacao_Id] [int] NULL,
 CONSTRAINT [PK_dbo.Historicoes] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO


SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Situacaos](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[Nome] [nvarchar](max) NULL,
 CONSTRAINT [PK_dbo.Situacaos] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]

GO



SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Solicitacaos](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[Situacao] [int] NOT NULL,
	[UsuarioClienteId] [nvarchar](128) NOT NULL,
	[UsuarioAlunoId] [nvarchar](128) NULL,
	[AtividadeSemestralId] [int] NOT NULL,
	[FatoCotidianoId] [int] NOT NULL,
	[DataCadastro] [datetime] NOT NULL,
	[Duvida] [nvarchar](100) NOT NULL,
	[Parecer] [nvarchar](max) NULL,
	[FatoJuridico] [nvarchar](max) NULL,
	[Fundamentacao] [nvarchar](max) NULL,
	[IdentificacaoPartes] [nvarchar](100) NOT NULL,
	[Descricao] [nvarchar](500) NOT NULL,
	[Correcao] [nvarchar](max) NULL,
	[Situacao_Id] [int] NULL,
 CONSTRAINT [PK_dbo.Solicitacaos] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]

GO
INSERT [dbo].[AspNetRoles] ([Id], [Name]) VALUES (N'103d53dc-db45-428f-81da-033b10445704', N'Cliente')
INSERT [dbo].[AspNetRoles] ([Id], [Name]) VALUES (N'f7460b44-43f1-4f8a-89b8-4bc534fc6ed8', N'Monitor')
INSERT [dbo].[AspNetRoles] ([Id], [Name]) VALUES (N'dffc304b-235e-44fc-af81-bb1eea536f70', N'Professor')
INSERT [dbo].[AspNetUserRoles] ([UserId], [RoleId]) VALUES (N'a14cb164-55bf-45cf-a9ec-6881b7eb7f78', N'dffc304b-235e-44fc-af81-bb1eea536f70')
INSERT [dbo].[AspNetUsers] ([Id], [Nome], [Email], [EmailConfirmed], [PasswordHash], [SecurityStamp], [PhoneNumber], [PhoneNumberConfirmed], [TwoFactorEnabled], [LockoutEndDateUtc], [LockoutEnabled], [AccessFailedCount], [UserName]) VALUES (N'a14cb164-55bf-45cf-a9ec-6881b7eb7f78', N'Valéria', N'valeria@newtonpaiva.com', 0, N'AOE697CyLUOS0FZSkvSOJypnXBukqky7awPEa2s1PIne+llJrwpKQAYALnBV2Sj8vw==', N'e12a4a09-a46d-4ce3-b56d-b4537596f8d2', NULL, 0, 0, NULL, 0, 0, N'valeria@newtonpaiva.com')
SET ANSI_PADDING ON

GO



CREATE UNIQUE NONCLUSTERED INDEX [RoleNameIndex] ON [dbo].[AspNetRoles]
(
	[Name] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
SET ANSI_PADDING ON

GO
/****** Object:  Index [IX_UserId]    Script Date: 29/06/2017 15:00:18 ******/
CREATE NONCLUSTERED INDEX [IX_UserId] ON [dbo].[AspNetUserClaims]
(
	[UserId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
SET ANSI_PADDING ON

GO
/****** Object:  Index [IX_UserId]    Script Date: 29/06/2017 15:00:18 ******/
CREATE NONCLUSTERED INDEX [IX_UserId] ON [dbo].[AspNetUserLogins]
(
	[UserId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
SET ANSI_PADDING ON

GO
/****** Object:  Index [IX_RoleId]    Script Date: 29/06/2017 15:00:18 ******/
CREATE NONCLUSTERED INDEX [IX_RoleId] ON [dbo].[AspNetUserRoles]
(
	[RoleId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
SET ANSI_PADDING ON

GO
/****** Object:  Index [IX_UserId]    Script Date: 29/06/2017 15:00:18 ******/
CREATE NONCLUSTERED INDEX [IX_UserId] ON [dbo].[AspNetUserRoles]
(
	[UserId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
SET ANSI_PADDING ON

GO
/****** Object:  Index [UserNameIndex]    Script Date: 29/06/2017 15:00:18 ******/
CREATE UNIQUE NONCLUSTERED INDEX [UserNameIndex] ON [dbo].[AspNetUsers]
(
	[UserName] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
/****** Object:  Index [IX_AreaConhecimentoId]    Script Date: 29/06/2017 15:00:18 ******/
CREATE NONCLUSTERED INDEX [IX_AreaConhecimentoId] ON [dbo].[AtividadeSemestrals]
(
	[AreaConhecimentoId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
SET ANSI_PADDING ON

GO
/****** Object:  Index [IX_Usuario_Id]    Script Date: 29/06/2017 15:00:18 ******/
CREATE NONCLUSTERED INDEX [IX_Usuario_Id] ON [dbo].[AtividadeSemestrals]
(
	[Usuario_Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
/****** Object:  Index [IX_AreaConhecimentoId]    Script Date: 29/06/2017 15:00:18 ******/
CREATE NONCLUSTERED INDEX [IX_AreaConhecimentoId] ON [dbo].[FatoCotidianoes]
(
	[AreaConhecimentoId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
/****** Object:  Index [IX_Situacao_Id]    Script Date: 29/06/2017 15:00:18 ******/
CREATE NONCLUSTERED INDEX [IX_Situacao_Id] ON [dbo].[Historicoes]
(
	[Situacao_Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
/****** Object:  Index [IX_SolicitacaoId]    Script Date: 29/06/2017 15:00:18 ******/
CREATE NONCLUSTERED INDEX [IX_SolicitacaoId] ON [dbo].[Historicoes]
(
	[SolicitacaoId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
/****** Object:  Index [IX_AtividadeSemestralId]    Script Date: 29/06/2017 15:00:18 ******/
CREATE NONCLUSTERED INDEX [IX_AtividadeSemestralId] ON [dbo].[Solicitacaos]
(
	[AtividadeSemestralId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
/****** Object:  Index [IX_FatoCotidianoId]    Script Date: 29/06/2017 15:00:18 ******/
CREATE NONCLUSTERED INDEX [IX_FatoCotidianoId] ON [dbo].[Solicitacaos]
(
	[FatoCotidianoId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
/****** Object:  Index [IX_Situacao_Id]    Script Date: 29/06/2017 15:00:18 ******/
CREATE NONCLUSTERED INDEX [IX_Situacao_Id] ON [dbo].[Solicitacaos]
(
	[Situacao_Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
SET ANSI_PADDING ON

GO
/****** Object:  Index [IX_UsuarioAlunoId]    Script Date: 29/06/2017 15:00:18 ******/
CREATE NONCLUSTERED INDEX [IX_UsuarioAlunoId] ON [dbo].[Solicitacaos]
(
	[UsuarioAlunoId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
SET ANSI_PADDING ON

GO
/****** Object:  Index [IX_UsuarioClienteId]    Script Date: 29/06/2017 15:00:18 ******/
CREATE NONCLUSTERED INDEX [IX_UsuarioClienteId] ON [dbo].[Solicitacaos]
(
	[UsuarioClienteId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
ALTER TABLE [dbo].[AspNetUserClaims]  WITH CHECK ADD  CONSTRAINT [FK_dbo.AspNetUserClaims_dbo.AspNetUsers_UserId] FOREIGN KEY([UserId])
REFERENCES [dbo].[AspNetUsers] ([Id])
GO
ALTER TABLE [dbo].[AspNetUserClaims] CHECK CONSTRAINT [FK_dbo.AspNetUserClaims_dbo.AspNetUsers_UserId]
GO
ALTER TABLE [dbo].[AspNetUserLogins]  WITH CHECK ADD  CONSTRAINT [FK_dbo.AspNetUserLogins_dbo.AspNetUsers_UserId] FOREIGN KEY([UserId])
REFERENCES [dbo].[AspNetUsers] ([Id])
GO
ALTER TABLE [dbo].[AspNetUserLogins] CHECK CONSTRAINT [FK_dbo.AspNetUserLogins_dbo.AspNetUsers_UserId]
GO
ALTER TABLE [dbo].[AspNetUserRoles]  WITH CHECK ADD  CONSTRAINT [FK_dbo.AspNetUserRoles_dbo.AspNetRoles_RoleId] FOREIGN KEY([RoleId])
REFERENCES [dbo].[AspNetRoles] ([Id])
GO
ALTER TABLE [dbo].[AspNetUserRoles] CHECK CONSTRAINT [FK_dbo.AspNetUserRoles_dbo.AspNetRoles_RoleId]
GO
ALTER TABLE [dbo].[AspNetUserRoles]  WITH CHECK ADD  CONSTRAINT [FK_dbo.AspNetUserRoles_dbo.AspNetUsers_UserId] FOREIGN KEY([UserId])
REFERENCES [dbo].[AspNetUsers] ([Id])
GO
ALTER TABLE [dbo].[AspNetUserRoles] CHECK CONSTRAINT [FK_dbo.AspNetUserRoles_dbo.AspNetUsers_UserId]
GO
ALTER TABLE [dbo].[AtividadeSemestrals]  WITH CHECK ADD  CONSTRAINT [FK_dbo.AtividadeSemestrals_dbo.AreaConhecimentoes_AreaConhecimentoId] FOREIGN KEY([AreaConhecimentoId])
REFERENCES [dbo].[AreaConhecimentoes] ([Id])
GO
ALTER TABLE [dbo].[AtividadeSemestrals] CHECK CONSTRAINT [FK_dbo.AtividadeSemestrals_dbo.AreaConhecimentoes_AreaConhecimentoId]
GO
ALTER TABLE [dbo].[AtividadeSemestrals]  WITH CHECK ADD  CONSTRAINT [FK_dbo.AtividadeSemestrals_dbo.AspNetUsers_Usuario_Id] FOREIGN KEY([Usuario_Id])
REFERENCES [dbo].[AspNetUsers] ([Id])
GO
ALTER TABLE [dbo].[AtividadeSemestrals] CHECK CONSTRAINT [FK_dbo.AtividadeSemestrals_dbo.AspNetUsers_Usuario_Id]
GO
ALTER TABLE [dbo].[FatoCotidianoes]  WITH CHECK ADD  CONSTRAINT [FK_dbo.FatoCotidianoes_dbo.AreaConhecimentoes_AreaConhecimentoId] FOREIGN KEY([AreaConhecimentoId])
REFERENCES [dbo].[AreaConhecimentoes] ([Id])
GO
ALTER TABLE [dbo].[FatoCotidianoes] CHECK CONSTRAINT [FK_dbo.FatoCotidianoes_dbo.AreaConhecimentoes_AreaConhecimentoId]
GO
ALTER TABLE [dbo].[Historicoes]  WITH CHECK ADD  CONSTRAINT [FK_dbo.Historicoes_dbo.Situacaos_Situacao_Id] FOREIGN KEY([Situacao_Id])
REFERENCES [dbo].[Situacaos] ([Id])
GO
ALTER TABLE [dbo].[Historicoes] CHECK CONSTRAINT [FK_dbo.Historicoes_dbo.Situacaos_Situacao_Id]
GO
ALTER TABLE [dbo].[Historicoes]  WITH CHECK ADD  CONSTRAINT [FK_dbo.Historicoes_dbo.Solicitacaos_SolicitacaoId] FOREIGN KEY([SolicitacaoId])
REFERENCES [dbo].[Solicitacaos] ([Id])
GO
ALTER TABLE [dbo].[Historicoes] CHECK CONSTRAINT [FK_dbo.Historicoes_dbo.Solicitacaos_SolicitacaoId]
GO
ALTER TABLE [dbo].[Solicitacaos]  WITH CHECK ADD  CONSTRAINT [FK_dbo.Solicitacaos_dbo.AspNetUsers_UsuarioAlunoId] FOREIGN KEY([UsuarioAlunoId])
REFERENCES [dbo].[AspNetUsers] ([Id])
GO
ALTER TABLE [dbo].[Solicitacaos] CHECK CONSTRAINT [FK_dbo.Solicitacaos_dbo.AspNetUsers_UsuarioAlunoId]
GO
ALTER TABLE [dbo].[Solicitacaos]  WITH CHECK ADD  CONSTRAINT [FK_dbo.Solicitacaos_dbo.AspNetUsers_UsuarioClienteId] FOREIGN KEY([UsuarioClienteId])
REFERENCES [dbo].[AspNetUsers] ([Id])
GO
ALTER TABLE [dbo].[Solicitacaos] CHECK CONSTRAINT [FK_dbo.Solicitacaos_dbo.AspNetUsers_UsuarioClienteId]
GO
ALTER TABLE [dbo].[Solicitacaos]  WITH CHECK ADD  CONSTRAINT [FK_dbo.Solicitacaos_dbo.AtividadeSemestrals_AtividadeSemestralId] FOREIGN KEY([AtividadeSemestralId])
REFERENCES [dbo].[AtividadeSemestrals] ([Id])
GO
ALTER TABLE [dbo].[Solicitacaos] CHECK CONSTRAINT [FK_dbo.Solicitacaos_dbo.AtividadeSemestrals_AtividadeSemestralId]
GO
ALTER TABLE [dbo].[Solicitacaos]  WITH CHECK ADD  CONSTRAINT [FK_dbo.Solicitacaos_dbo.FatoCotidianoes_FatoCotidianoId] FOREIGN KEY([FatoCotidianoId])
REFERENCES [dbo].[FatoCotidianoes] ([Id])
GO
ALTER TABLE [dbo].[Solicitacaos] CHECK CONSTRAINT [FK_dbo.Solicitacaos_dbo.FatoCotidianoes_FatoCotidianoId]
GO
ALTER TABLE [dbo].[Solicitacaos]  WITH CHECK ADD  CONSTRAINT [FK_dbo.Solicitacaos_dbo.Situacaos_Situacao_Id] FOREIGN KEY([Situacao_Id])
REFERENCES [dbo].[Situacaos] ([Id])
GO
ALTER TABLE [dbo].[Solicitacaos] CHECK CONSTRAINT [FK_dbo.Solicitacaos_dbo.Situacaos_Situacao_Id]
GO
USE [master]
GO
