
@{
    ViewBag.Title = "Bem Vindo";
}

<div class="jumbotron">
    <h1>CEJU - Newton Paiva</h1>
</div>
<div class="row">
    <div class="col-md-4">
        <h2>Bem-vindo ao CEJU Newton Paiva</h2>
        <p>
            O CEJU Newton Paiva é uma aplicação desenvolvida pelos alunos de Sistemas de Informa&ccedil;&atilde;o da Newton Paiva utilizando os frameworks Entity Framework 6 e ASP.NET MVC 5.
        </p>
    </div>
</div>

