.demo-container {
    box-sizing: border-box;
    display: block;
    height: 350px;
    margin-bottom: 10px;
    width: 100%;
}

.demo-placeholder {
    font-size: 14px;
    height: 100%;
    line-height: 1.2em;
    width: 100%;
}

.legend table { border-spacing: 5px; }

.pieLabel {
    border: 1px solid #CAC9C9;
    border-radius: 4px;
    padding: 1px 1px;
}